.duk-gauge {
  @apply relative flex;

  &__dial {
    @apply absolute;
    left: 50%;
    bottom: -16.67%;
    transform: translateX(-50%);
    transform-origin: center 75%;
    width: auto;
    height: 62.5%;
  }
}
